<%# Config %>
<% a = fetch_exercise exercise.exercises[0] %>
<%# Border %>
<% if e != el %>
  <% border = "bbs-solid bbw-1x bc-light_gray" %>
<% else %>
  <% border = "" %>
<% end %>
<%# End %>
<article data-value="null" class="ttf-cubic_bezier td-1s tp-all o-0 t-translateY4r clearfix pv-2r ph-1r <%= border %>">
  <div class="f-left w-10p">
    <h1 class="ma-0r ff-roboto fw-500 fs-1_125r c-black"><%= c %></h1>
  </div>
  <header class="f-left w-90p">
    <div class="clearfix mb-0_25r">
      <a class="f-left ma-0r ff-roboto fw-500 fs-1_125r c-black bgc-blue td-none" href="<%= a.source %>" target="_blank"><%= a.name %></a>
      <h1 class="f-right ma-0r ff-roboto fw-500 fs-1_125r c-black"><%= exercise.duration %></h1>
    </div>
    <div class="clearfix">
      <h3 class="f-left ma-0r ff-roboto fw-500 fs-1r c-dark_gray"><%= a.target %> Exercise</h3>
      <h3 class="f-right ma-0r ff-roboto fw-500 fs-1r c-dark_gray"><%= exercise.speed %></h3>
    </div>
  </header>
</article>
