<%# Config %>
<% exercises = [] %>
<% exercise.exercises.each do |exe| %>
  <% exercises.push(fetch_exercise exe) %>
<% end %>
<%# Border %>
<% if e != el %>
  <% border = "bbs-solid bbw-1x bc-light_gray" %>
<% else %>
  <% border = "" %>
<% end %>
<%# End %>
<article data-value="single" class="ttf-cubic_bezier td-1s tp-all o-0 t-translateY4r clearfix pv-2r ph-1r <%= border %>">
  <div class="f-left w-10p">
    <h1 class="ma-0r ff-roboto fw-500 fs-1_125r c-black"><%= c %></h1>
  </div>
  <header class="f-left w-90p mb-1_5r">
    <div class="clearfix mb-0_25r">
      <h1 class="f-left ma-0r ff-roboto fw-500 fs-1_125r c-black"><%= exercise.name %></h1>
      <h1 class="f-right ma-0r ff-roboto fw-500 fs-1_125r c-black"><%= exercise.rounds %></h1>
    </div>
    <div class="clearfix">
      <h3 class="f-left ma-0r ff-roboto fw-500 fs-1r c-dark_gray"><%= exercise.target %> Exercises</h3>
    </div>
  </header>
  <div class="clearfix">
    <div class="f-left w-10p h-1x"></div>
    <div class="f-left w-90p">
      <%# Config %>
      <% el = exercises.length - 1 %>
      <%# End %>
      <% exercises.each_with_index do |exe, x| %>
        <%# Config %>
        <% if x != el %>
          <% margin = "mb-1r" %>
        <% else %>
          <% margin = "" %>
        <% end %>
        <%# End %>
        <div class="w-100p clearfix <%= margin %>">
          <a class="f-left d-block ma-0r ff-roboto fw-500 fs-1_125r c-black bgc-blue td-none" href="<%= exe.source %>" target="_blank"><%= exe.name %></a>
          <p class="f-right ma-0r ff-roboto fw-500 fs-1_125r c-dark_gray"><%= exercise.duration %></p>
        </div>
      <% end %>
    </div>
  </div>
</article>
