<%# Config %>
<%# Border %>
<% if r != rl %>
  <% border = "bbs-solid bbw-1x bc-light_gray" %>
<% else %>
  <% border = "" %>
<% end %>
<%# URL Path %>
<% href = "/#{week.title.parameterize}/#{routine.day.parameterize}" %>
<%# End %>
<a data-card="routine" class="preload ttf-cubic_bezier td-1s tp-all o-0 t-translateY4r d-block clearfix pv-2r ph-1r td-none <%= border %>" href="<%= href %>">
  <h1 class="ma-0r mb-0_5r ff-roboto fw-500 fs-1_125r c-black" href="<%= href %>"><%= routine.name %></h1>
  <h1 class="ma-0r ff-roboto fw-400 fs-1_125r c-dark_gray td-none"><%= routine.day %></h1>
</a>
