<%# Config %>
<% a = fetch_exercise exercise.exercises[0] %>
<% sl = exercise.sets.length - 1 %>
<%# Border %>
<% if e != el %>
  <% border = "bbs-solid bbw-1x bc-light_gray" %>
<% else %>
  <% border = "" %>
<% end %>
<%# End %>
<article data-value="single" class="preload ttf-cubic_bezier td-1s tp-all o-0 t-translateY4r clearfix pv-2r ph-1r <%= border %>">
  <div class="f-left w-10p">
    <h1 class="ma-0r ff-roboto fw-500 fs-1_125r c-black"><%= c %></h1>
  </div>
  <header class="f-left w-90p mb-1_5r">
    <div class="clearfix mb-0_25r">
      <a class="f-left ma-0r ff-roboto fw-500 fs-1_125r c-black bgc-blue td-none" href="<%= a.source %>" target="_blank"><%= a.name %></a>
      <h1 class="f-right ma-0r ff-roboto fs-1_125r fw-500 c-black"><%= sl + 1 %> Sets</h1>
    </div>
    <div class="clearfix">
      <h3 class="f-left ma-0r ff-roboto fw-500 fs-1r c-dark_gray"><%= a.target %> Exercise</h3>
      <h3 class="f-right ma-0r ff-roboto fw-500 fs-1r c-dark_gray"><%= exercise.rest %></h3>
    </div>
  </header>
  <div class="cleafix">
    <div class="f-left w-10p h-1x"></div>
    <div class="p-relative f-left w-90p d-inline_flex jc-space_between">
      <% exercise.sets.each_with_index do |set, s| %>
        <%# Config %>
        <% if s === 0 %>
          <% padding = "pr-1r" %>
        <% elsif s != sl && s != 0 %>
          <% padding = "ph-1r" %>
        <% elsif s === sl %>
          <% padding = "pl-1r" %>
        <% end %>
        <%# End %>
        <div class="zi-1 <%= padding %> bg-white">
          <h2 class="ma-0r ff-roboto fw-500 fs-2r c-black"><%= set %></h2>
          <p class="ma-0r ff-roboto fw-500 fs-1r c-dark_gray">Set <%= s + 1 %></p>
        </div>
      <% end %>
    </div>
  </div>
</article>
