<%# Config %>
<% a = fetch_exercise exercise.exercises[0] %>
<% sl = exercise.sets.length - 1 %>
<%# End %>
<article data-value="single" class="function-cb duration1 property-all o0 transform-tYm4 cf pv2 ph1">
  <div class="fl w-10">
    <h1 class="ma0 roboto f1_125 fw5 black"><%= c %></h1>
  </div>
  <header class="fl w-90" style="margin-bottom: 1.5rem;">
    <div class="cf" style="margin-bottom: 0.25rem;">
      <a class="fl ma0 roboto f1_125 fw5 black" href="<%= a.source %>" target="_blank"><%= a.name %></a>
      <h1 class="fr ma0 roboto f1_125 fw5 black"><%= sl + 1 %> Sets</h1>
    </div>
    <div class="cf">
      <h3 class="fl ma0 roboto f1 fw5 dark-gray"><%= a.target %> Exercise</h3>
      <h3 class="fr ma0 roboto f1 fw5 dark-gray"><%= exercise.rest %></h3>
    </div>
  </header>
  <div class="cf">
    <div class="fl w-10" style="height: 1px;"></div>
    <div class="relative fl w-90 inline-flex justify-between">
      <% exercise.sets.each_with_index do |set, s| %>
        <%# Config %>
        <% if s === 0 %>
          <% padding = "pr1" %>
        <% elsif s != sl && s != 0 %>
          <% padding = "ph1" %>
        <% elsif s === sl %>
          <% padding = "pl1" %>
        <% end %>
        <%# End %>
        <div class="z-1 <%= padding %> bg-white">
          <h2 class="ma0 roboto f2 fw5 black"><%= set %></h2>
          <p class="ma0 roboto f1 fw5 dark-gray">Set <%= s + 1 %></p>
        </div>
      <% end %>
    </div>
  </div>
</article>
