<%# Config %>
<% sl = exercise.sets.length - 1 %>
<% l = exercise.exercises.length - 1 %>
<%# Border %>
<% if e != el %>
  <% border = "bbs-solid bbw-1x bc-light_gray" %>
<% else %>
  <% border = "" %>
<% end %>
<%# End %>
<article data-value="double" class="preload ttf-cubic_bezier td-1s tp-all o-0 t-translateY4r clearfix pv-2r ph-1r <%= border %>">
  <div class="p-relative f-left w-10p">
    <% exercise.exercises.each_with_index do |exe, i| %>
      <h1 class="ma-0r mb-0_5r ff-roboto fw-500 fs-1_125r c-black"><%= i + c %></h1>
      <% if i != l %>
        <div class="p-relative l-0_3r w-1x h-2_35r mb-0_5r bgc-gray"></div>
      <% end %>
    <% end %>
  </div>
  <header class="f-left w-90p mb-1_5r">
    <% exercise.exercises.each_with_index do |exe, i| %>
      <%# Config %>
      <%# Exercise %>
      <% x = fetch_exercise exe %>
      <%# Spacing %>
      <% if i != l %>
        <% spacing = "mb-2r" %>
      <% else %>
        <% spacing = "" %>
      <% end %>
      <%# End %>
      <div class="<%= spacing %>">
        <div class="clearfix mb-0_25r">
          <a class="f-left ma-0r ff-roboto fw-500 fs-1_125r c-black bgc-blue td-none" href="<%= x.source %>" target="_blank"><%= x.name %></a>
          <% if i === 0 %>
            <h1 class="f-right ma-0r ff-roboto fw-500 fs-1_125r c-black"><%= sl + 1 %> Supersets</h1>
          <% end %>
        </div>
        <div class="clearfix">
          <h3 class="f-left ma-0r ff-roboto fs-1r fw-500 c-dark_gray"><%= x.target %> Exercise</h3>
          <% if i === 0 %>
            <h3 class="f-right ma-0r ff-roboto fw-500 fs-1r c-dark_gray"><%= exercise.rest %></h3>
          <% end %>
        </div>
      </div>
    <% end %>
  </header>
  <div class="clearfix">
    <div class="f-left w-10p h-1x"></div>
    <div class="p-relative f-left w-90p d-inline_flex jc-space_between">
      <% exercise.sets.each_with_index do |set, s| %>
        <%# Config %>
        <% if s === 0 %>
          <% padding = "pr-1r" %>
        <% elsif s != sl && s != 0 %>
          <% padding = "ph-1r" %>
        <% elsif s === sl %>
          <% padding = "pl-1r" %>
        <% end %>
        <%# End %>
        <div class="zi-1 <%= padding %> bgc-white">
          <h2 class="ma-0r ff-roboto fw-500 fs-2r c-black"><%= set %></h2>
          <p class="ma-0r ff-roboto fw-500 fs-1r c-dark_gray">Set <%= s + 1 %></p>
        </div>
      <% end %>
    </div>
  </div>
</article>
