<%# Config %>
<% routine = locals[:routine] %>
<%# End %>
<%# Component: Navigation %>
<%= partial "partials/navigation/menu" %>
<%# Component: Header %>
<%= partial("partials/navigation/routine", :locals => { :week => week, :routine => routine }) %>
<main data-meal="container" class="mt-53x">
  <%# Config %>
  <% el = routine.exercises.length - 1 %>
  <% c = 1 %>
  <%# End %>
  <% routine.exercises.each_with_index do |exercise, e| %>
    <%# Cardio Exercise %>
    <% if exercise.type === "cardio" %>
      <%= partial("partials/content/cardio", :locals => { :exercise => exercise, :c => c, :e => e, :el => el }) %>
    <% end %>
    <%# Set Exercise %>
    <% if exercise.type === "set" %>
      <%= partial("partials/content/set", :locals => { :exercise => exercise, :c => c, :e => e, :el => el, :color => routine.color }) %>
    <% end %>
    <%# Superset Exercise %>
    <% if exercise.type === "superset" %>
      <%= partial("partials/content/superset", :locals => { :exercise => exercise, :c => c, :e => e, :el => el, :color => routine.color }) %>
      <% c = c + exercise.exercises.length - 1 %>
    <% end %>
    <%# Circuit Exercise %>
    <% if exercise.type === "circuit" %>
      <%= partial("partials/content/circuit", :locals => { :exercise => exercise, :c => c, :e => e, :el => el }) %>
    <% end %>
    <% c = c + 1 %>
  <% end %>
</main>
